[SddmGreeterTheme]
Name=Zentrix
Description=Zentrix login theme
Author=Abraham Tobal
Copyright=(c) Abraham Tobal
License=CC-BY-SA
Type=sddm-theme
Version=1.0
Website=
Screenshot=
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=zentrix
Theme-API=2.0
